<!-- wp:template-part {"slug": "header", "tagName": "header", "className": "site-header"} /-->

<!-- wp:group {"tagName": "main", "layout": {"type": "constrained"}} -->
<main class="wp-block-group">
    <!-- wp:post-featured-image /-->
    <!-- wp:post-title /-->
    <!-- wp:post-author {"showAvatar": false} /-->
    <!-- wp:post-date /-->
    <!-- wp:post-terms {"term": "category"} /-->
    
    <!-- wp:spacer {"height": "40px"} -->
    <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:post-content /-->

    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    <!-- wp:heading -->
    <h2 class="wp-block-heading">Comments</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer {"height":"40px"} -->
    <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:post-terms {"term": "post_tag"} /-->
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height: 40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug": "footer", "tagName": "footer", "className": "site-footer"} /-->